.header-container {
    height: 10vh;
    width: auto; 
    background-color: #A2372A; 
    font-size: 30px;
    display: flex;
    align-items: center;
}

.shelfie-image {
    height: 50px;
    width: auto;
    margin-left: 45px;
    margin-right: 20px;
}

.nav-buttons { 
    font-size: 18px;
    margin-left: 30px;
    background: rgb(117, 38, 28);
    border-radius: 7px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

